@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

/* ✅ Define variables con :root */
:root {
  --font-base: Montserrat;
  --color-background: rgb(10, 25, 47);
  --color-text: #ffffff;
}

body {
  @apply bg-[--color-background] text-[--color-text];
  font-family: var(--font-base);
}

/* Animación para el cursor parpadeante */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
}


